*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#f9f5ed;
    font-family: "Oswald", sans-serif;
}

nav{
    padding: 20px 10%;
    height: 15vh;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 05%;
    font-weight: 600;
}

nav ul li:hover{
    text-decoration: underline;
    font-weight: 600;
}

nav ul li img{
    width: 100px;

}

section{
  display: flex;
  align-items: center;
  justify-content: center;
}


.left-section{
    width: 40%;
}

.left-section h1{
     font-size: 60px;
}
.left-section p{
    margin: 5% 0;
}


.left-section button{
    background-color:#3b855b;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 600;
    width: fit-content;
}


.left-section button:hover{
    text-decoration: underine;
    font-weight: 600;
    text-decoration-color: #f9f5ed;
}


.right-section{
    /* width: 60%; */
    padding: 7%;
}

.right-section div img{
    width: 30%;

}
/* .right-section div img:first-child{
    margin-right: 20px;
} */


.right-section div{
    margin-bottom: 20px;
}

.right-section img{
    width: 64%;
}